.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

input{
  padding: 9px 15px;
  border-radius: 10px;
  border: none;
  margin-top: 5px;
}

button{
  border: none;
  border-radius: 10px;
  padding: 8px 10px;
  font-weight: 600;
  color: rgb(0, 0, 0, 70%);
}

.App .navBar-container {
  background-color: rgb(251, 4, 19, 100%);
  color: rgb(255, 255, 255, 90%);
  height: 55px;
  text-align: center;
  display: flex;
  align-items: flex-end;
}


.navBar-container .brand-name{
  height: 7vh;
  width: 85vw;
  display: flex;
  justify-content: center;
  align-items:center;
}

.navBar-container .brand-name h2{
  letter-spacing: 0.2rem;
}

.navBar-container .brand-name img{
  width: 45px;
  margin-right: 10px;
}

.navBar-container .cart{
  position: relative;
}

.navBar-container .cart img{
  width: 40px;
  margin-left: 10px;
}

.navBar-container .cart p{
  position: absolute;
  right: 0px;
  background-color: greenyellow;
  color: green;
  width: 15px;
  border-radius: 30%;
}

.navBar-container .order button{
 margin: 5px;
 padding: 2px 6px;
 background-color: red;
 color: white;
 border: 1px solid white;
 border-radius: 10px;
 font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/* Food Meter menu */

.foodmeter-container{
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foodmeter-container .meter-card {
  background-color: rgb(128, 128, 128, 40%);
  height: 22px;
  width: 80vw;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}

.foodmeter-container img {
  width: 18px;
  margin-left: 10px;
}

.meter-card .meter{
  background-color: red;
  height: 22px;
  width: 30vw;
  border-radius: 20px;
  text-align: center;
  color:  rgb(128, 128, 128, 40%);
  transition: all 0.5s ease-in-out;
}

.meter-card p {
  color: rgb(255, 255, 255, 80%);
  font-weight: 600;
  padding: 2px;
}

p{
  color:  rgb(128, 128, 128, 80%);
  margin: 0px 20px;
}

.popup-card{
  width: 80vw;
  position: absolute;
  right: 0;
  background-color: white;
  padding: 10px;
  border: 1px solid rgb(128, 128, 128, 40%);
  border-radius: 20px;
  z-index: +1;
}

.popup-card .popup{
  width: 92%;
  margin: auto;
  color: grey;
}

.popup-card .popup h4, 
.popup span{
  color: green;
}

.popup .heading{
  display: flex;
  justify-content: space-between;
}

.popup .heading h3{
  color: white;
  text-align: center;
  border-radius: 50%;
  width: 25px;
  background-color: rgb(255, 0, 0, 80%);
}

.popup .slot-icons p{
  text-align: left;
  margin: 0;
  font-size: 0.7rem;
}

.popup .slot-icons img{
  width: 20px;
}

/* Food Meter menu */

/* Main Menu */


.mainmenu-container .menu-card{
  border: 3px solid rgb(128, 128, 128, 30%);
  height: 98%;
  width: 96vw;
  margin: auto;
  border-radius: 10px;
}

.menu-card .menu-categories {
  margin-bottom: 10px;
  overflow-y: scroll;
}

.menu-card .menu-categories ul{
  display: flex;
  list-style: none;
  padding: 0; 
  width: 90vw;
  margin: 10px auto;
  
}

.menu-categories ul li{
  background-color: rgb(128, 128, 128, 70%);
  border-radius: 20px;
  font-size: small;
  margin-left: 3px;
}

.menu-categories ul li p{
  padding: 5px 0px;
  color: white;
}

.menu-card .menu-items{
  height: 75vh ;
  overflow-x: scroll;
  scroll-behavior: smooth;
  z-index: 1;
}

.menu-card .menu-items::-webkit-scrollbar{
  display: none;
}



.orders-card  tr th{
  border-radius: 10px;
  text-align: center;
}

.orders-card tr td {
  border-radius: 10px;
  padding: 2px;
  text-align: center;
}

.menu-card .menu,
.orders-card .menu{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 90vw;
  border: 1px solid rgb(128, 128, 128, 40%);
  margin: auto;
  padding: 6px 10px;
}

.menu-card .menu .food {
  display: flex;
  max-width: 60vw;
  max-height: 11vh;
  overflow: hidden;
}

.menu .food .food-description{
  margin-left: 10px;
}

.food .food-description p{
  margin: 0px 0px ;
  color: rgb(0, 0, 0, 70%);
}

.food .food-description small{
  color: rgb(128, 128, 128, 80%)
}

.menu-card .menu img {
  width: 25%;
  border-radius: 10px;
}

.menu .food-description .description{
  color: black;
  font-size: 0.6rem;
}

.menu-card .menu .btns{
  display: flex;
  justify-content: space-between;
  max-width: 30vw;
}

.menu .btns button,
.menu .btns small{
  margin: 10px;
}

.wheel-card {
  background-color: rgb(144, 238, 144, 20%);;
  position: relative;
}


.wheel-card .special{
  background-color: rgb(144, 238, 144, 20%);
  position: absolute;
  color: white;
  padding: 0px 5px;
  margin: 0;
  bottom: 0;
  right: 10px;
  height: 20px;
  display: flex;
  align-items: center;
}

.wheel-card h6{
  background-color: rgb(0, 128, 0, 70%);
  font-size: 0.4rem;
  padding: 2px 3px;
  border-radius: 10px;
}
.wheel-card .badge{
  width: 18px;
  height: 18px;
}

/* Main Menu */

/* OrderCheckout page */
.menu .order-description{
  display: flex;
  justify-content: space-between;
  width: 90vw;
  margin: 5px;
}

.menu .order-description p{
  width: 50%;
  color: #000;
}

.orderbutton{
  display: flex;
  justify-content: center;
}

.orderbutton .placeorder{
  background-color: orange;
  border: 1px solid black;
  color: black;
  width: 200px;
  margin-top: 5px;
  font-size: 0.8rem;
}

.orderbutton .spices{
  border-radius: 10px;
  background-color: rgb(255, 228, 196, 80%);
  width: 95vw;
  margin-top: 5px;
  padding: 5px;
  box-sizing: border-box;
}

.orderbutton .spices ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 5px;
}

.orderbutton p{
  font-weight: 500;
  font-size: 0.9rem;
}


/* OrderCheckout page */


/*Slot Machine ---------------*/

.slotMachine-container{
  width: 80vw;
  height: 80px;
  background-color: rgb(255, 215, 0);
  border-radius: 30px;
  position: relative;
  margin: auto;
  margin-top: 5px;
}
.slot{ 
  height: 95px;
  position: relative;
}

.slot p{
  text-align: center;
  font-size: 0.9rem;
  color: rgb(128, 0, 128, 80%); 
  font-weight: 500;
}

.slot-decription{
  position: absolute;
  bottom: 0;
  right: 20px;
  width: 20px;
}


.slotMachine-container .slotMachine-card{
  width: 80%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}


.slotMachine-row{
  background-color: rgb(0, 0, 0, 40%);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70%;
  width: 20%;
  border-radius: 20px ;
  overflow: hidden;
  transition: all 1s ease;
}

.slotMachine-bar{
  width: 85vw;
  height: 5vh;
  border-radius: 30px;
  background-color: rgb(0, 0, 0, 70%);
  color: white;
  position: absolute;
  top: 33%;
  left: -3%;
  z-index: -1;
}


.slotMachine-card .slotMachine-row .notrolling{
  width: 85%;
  transition: all 0.2s ease;
}


.slotMachine-card .slotMachine-row .rolling {
  filter: blur(3px);
  color: rgba(255, 255, 255, 0.2);
  top: 12px;
  animation: mov 0.12s infinite;
}

@keyframes mov {
  0% {
    transform: translatey(-30px);
    opacity: 0;
  }
  50% {
    transform: translatey(-15px);
    opacity: 1;
  }
  100% {
    transform: translatey(25px);
    opacity: 0;
  }
}

/* Games - Slot Machine  */

/* Footer */

.App .footermenu-container .footer-buttons {
  display: flex;
  justify-content: space-around;
  height: 58px;
  width: 96vw;
  margin: auto;
  text-align: center;
  margin-top: 5px;
}

/* rgb(245, 222, 179, 90%) ----- color for premium */
.footermenu-container .footer-buttons .btn{
  background-color: rgb(128, 0, 128, 20%);
  width: 32%;
  border-radius: 10px;
  height: fit-content;
}

.footermenu-container .footer-buttons .btn small{
  display: block;
  background-color: white;
  border-bottom: 1px solid rgb(128, 0, 128, 30%);
  width: 100%;
  margin: 0;
  font-weight: 500;
  color: rgb(0, 0, 0, 60%);
}

.footer-buttons .btn img{
  height: 35px;
}
/* Footer */

/* Admin Login */

.boarding-container{
  background-color: rgb(251, 4, 19, 80%);
  border: none;
  color: white;
  height: 100vh;
}

.boarding-container .boarding-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.boarding-form .heading p{
  color: aliceblue;
  margin: auto;
  font-size: x-large;
}

.heading h1,
.heading p{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.boarding-container form{
  display: flex;
  flex-direction: column;
  height: 40%;
  justify-content: space-around;
  margin-bottom: 10px;
}

.boarding-container .register-form{
  height: 55%;
}
.boarding-container form p{
  color: aliceblue;
  font-weight: 500;
}

.boarding-container a{
  color: rgb(0, 0, 255, 80%);
  font-weight: 600;

}
/* Admin Login */


/* Admin DashBoard */
.dashboard-container .tables-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.tables-container .table{
  border: 1px solid black;
  border-radius: 10px;
  width: 70px;
  padding: 5px 0px;
  margin: 5px;
  text-align: center;
}

.dashboard-container .orders-container{
  width: 95vw;
  margin: auto;
}

.orders-container h2{
  background-color: rgb(138, 43, 226, 80%);
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
}

.orders-container table{
  width: 90vw;
  height: fit-content;
  border: 1px solid rgb(128, 128, 128, 50%);
  text-align: left;
  margin: auto;
}

table thead{
  background-color: rgb(255, 0, 0, 70%);
}

table thead tr th{
  padding: 10px;
}

table tbody tr {
  padding: 4px;
  background-color: rgb(255, 229, 196, 80%);
  font-size: large;
}

table tbody .order-done{
  display: none;
}

/* Admin DashBoard */

/* Admin menu - add/edit menu */
.App .addmenu-card{
  background-color: antiquewhite;
  height: 92vh;
  display: flex;
  flex-direction: column;
}

.addmenu-card form{
  width: 90vw;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.addmenu-card form h2{
  text-align: center;
  font-size: x-large;
  color: rgb(0, 0, 0, 60%);
}

.addmenu-card form textarea{
  border: none;
  padding: 8px;
  margin-top: 10px ;
  border-radius: 10px;
}

.addmenu-card .btns{
  display: flex;
  justify-content: space-around;
}

.addmenu-card form .save{
  background-color: royalblue;
  color: white;
  width: 40vw;
  margin-top: 10px;
}

.addmenu-card .publish{
  background-color: red;
  color: white;
  width: 40vw;
  margin-top: 10px;
}


/* Admin menu - add/edit menu */

/* Admin Manage Account */

.manageaccount-container{
  width: 50vw;
  display: flex;
  text-align: center;
}

.manageaccount-container .manage-card{
  border: 1px solid transparent;
  border-radius: 10px;
  width: 100px;
  padding: 40px;
  margin: 25px;
  background-color: rgb(124, 252, 0, 80%);
}

.manageaccount-container .manage-card a{
  text-decoration: none;
  font-weight: 700;
  color: rgb(0, 0, 0, 80%);
}

/* Admin Manage Account */



.slider-container{
  width: 80%;
}

.spiceLevel{
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 20px;
}


/* VNavigation */
.vnavigation-container{
  background-color: rgb(65, 105, 225);
  height: fit-content;
  padding: 5px 0px 5px 0px ;
  display: flex;
  align-items: center;
}

.vnavigation-card{
  display: flex;
  justify-content: space-between;
  width: 60vw;
  margin: auto;
}

.vnavigation-card a{
  color: white;
  font-weight: 500;
  font-size: larger;
  text-decoration: none;
  padding: 5px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 20px;
  transition: background-color 0.3s ease-in-out;
}

.vnavigation-card a:hover{
  background-color: maroon;
}

/* VNavigation */


/* Manage Menu */

.managemenu-container{
  width: 80vw;
  height: fit-content;
  margin: auto;
  padding: 5px;
}

.managemenu-container .heading{
  margin-bottom: 10px;
}

.managemenu-container h2{
  opacity: 0.9;
}

.managemenu-container .category-options{
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.category-options button{
  background-color: crimson;
  color: white;
  font-size: larger;
  padding: 5px 10px;
  border-radius: 5px;
}

.managemenu-container .category-options ul{
  display: flex;
  justify-content: space-between;
  width: 45vw;
  list-style: none;
  margin: 0;
}

.category-options ul li{
  font-size: large;
  opacity: 0.6;
  font-weight: 600;
}

.managemenu-container .menu-table table{
  width: 80vw;
  text-align: center;
}

.menu-table table tbody tr td{
  font-size: 0.9rem;
}

.managemenu-container .menu-table table img{
  width: 60px;
  height: 60px;
  border-radius: 10px;
}
/* Manage Menu */


.box{
  width: 20px;
  height: 20px;
  margin: 5px;
  background-color: black;
}

.box-style{
  background-color: lightgreen;
  height: 12vh;
}

#change{
  transition: all 0.2s ease;
}



/* Slider section */ 

.cardslider-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  margin: 5px auto;
}

.direction-guide {
  opacity: 0.6;
  text-align: center;
}
.direction-guide .right-side{
  transform: rotateY(180deg);
}
.swiper-container{
  width: 95vw;
  height: fit-content;
  margin: auto;
  border-radius: 20px;
  text-align: center;
}

.swiper-container h4{
  margin: 0;
  text-align: center;
  color: gray;
  font-size: 1.5rem;
  color: royalblue;
  font-family: Verdana, Tahoma, sans-serif;
  overflow: hidden;
}

.swiper-container h4 span{
  color: green;
}

.card-container {
  height: 175px;
  display: flex;
  justify-content: center;
  margin: 6px 0px;
}
.swipe {
  position: absolute;
}

.card {
  background-color: gold;
  width: 180px;
  height: 175px;
  border-radius: 30px;
  background-size: cover;
  background-position: center;
  margin: auto;
}

.card .item-description{
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 20px;
  text-align: center;
  background-color: white;
  margin: auto  ;
}

.card .item-description h3{
  margin: 0;
  font-size: 0.8rem;
}
.card .item-description h3 span{
  color: green;
  text-transform: uppercase;
}

.card .item-description .price-description{
  display: flex;
  align-items: flex-end;
}

.card .item-description small{
  font-size: 0.8rem;
}

.card .item-description p{
  text-decoration: line-through;
  font-size: large;
  color: red;
}

.coupon-container{
  background-color: lightgreen;
  padding: 10px;
  width: 90vw;
  border-radius: 20px;
  margin: auto;
}

.coupon-container p{
  font-size: 1.1rem;
  font-weight: 600;
  color: royalblue;
  margin: 5px;
}

.coupon-container small{
  margin: 5px;
  text-align: center;
  font-size: 1rem;
  color: gray;
  font-weight: 600;
}
.coupon-container input{
  width: 60%;
}
.coupon-container button{
  margin-left: 5px;
  background-color: orange;
}
/* Slider section */ 

/* GetQR section */

.getqr-container .getqr-card{
  margin-top: 20px;
}

.getmoreqr-input{
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
}

.getqr-container .getqr-card h3, 
.getqr-container .getqr-card h4{
  text-align: center;
}

.getqr-card h4 span{
  font-size: large;
  color: brown;
  text-decoration: underline;
}

.getmoreqr-input button{
  background-color: orange;
  width: 150px;
  margin: 10px auto;
}

.getmoreqr-input input{
  border: 1px solid gray;
}

.premiumaccount-notice{
  background-color: rgb(255, 0, 0, 70%);
  color: white;
  padding: 8px 10px;
  border-radius: 10px;
  margin: 10px;
}

.premiumaccount{
  display: flex;
}

.premiumaccount  .premiumaccount-notice span{
  font-weight: 700;
}

.qr-list{
  display: flex;
  flex-wrap: wrap;
}

.qr-list .qr-card{
  padding: 10px;
  background-color: rgb(250, 234, 214, 70%);
  margin: 5px;
  text-align: center;
}

/* GetQR section */

/* myMenu-msg section */

.myMenu-msg-container p{
  background-color: lightgreen;
  padding: 20px 10px;
  border-radius: 10px;
  position: relative;
}

.myMenu-msg-container p small{
  position: absolute;
  top: -5px;
  left: -5px;
  background-color: rgb(255, 0, 0, 100%);
  color: white;
  padding: 2px 10px;
  border-radius: 20px;
}


/* myMenu-msg section */

/* Payment Page Compnent */

.elements{
  height: 200px;
  min-width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
}

.elements h2{
  color:royalblue ;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.elements small{
  color: rgb(128, 128, 128, 80%);
  text-align: center;
}
.elements button{
  background-color: royalblue;
  color: white;
  width: 20vw;
  margin-top: 5px;
  border-radius: 10px;
  margin: auto;
}

.FormGroup{
  border: 10px solid rgb(128, 128, 128, 20%);
  margin-top: 20px;
  border-radius: 5px;
}

Element{
  display: block;
  border: 1px solid black;
}

/* Payment Page Compnent */

/* Receipt */

.input-form {
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-form input{
  border: 1px solid gray;
  margin-left: 10px;
}

.billing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.billing button{
  background-color: red;
  color: white;
  border: none;
  width: 150px;
  margin-top: 10px;
}

.billing h4{
  margin-bottom: 5px;
}

/* Receipt */
