.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: scroll;
  position: relative;
  min-height: 100vh;
  max-height: fit-content;
  margin-bottom: 30px;
}

input{
  padding: 9px 15px;
  border-radius: 10px;
  border: none;
  margin-top: 5px;
}

button{
  border: none;
  border-radius: 10px;
  padding: 8px 10px;
  font-weight: 600;
  color: rgb(0, 0, 0, 70%);
}

.App .navBar-container {
  background-color: rgb(251, 4, 19, 100%);
  color: rgb(255, 255, 255, 90%);
  height: 55px;
  text-align: center;
  display: flex;
  align-items: flex-end;
}


.navBar-container .brand-name{
  height: 7vh;
  width: 85vw;
  display: flex;
  justify-content: center;
  align-items:center;
}

.navBar-container .brand-name h2{
  letter-spacing: 0.2rem;
}

.navBar-container .brand-name img{
  width: 45px;
  margin-right: 10px;
}

.navBar-container .cart{
  position: relative;
}

.navBar-container .cart img{
  width: 40px;
  margin-left: 10px;
}

.navBar-container .cart p{
  position: absolute;
  right: 0px;
  background-color: greenyellow;
  color: green;
  width: 15px;
  border-radius: 30%;
}

.navBar-container .order button{
 margin: 5px;
 padding: 2px 6px;
 background-color: red;
 color: white;
 border: 1px solid white;
 border-radius: 10px;
 font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/* Food Meter menu */

.foodmeter-container{
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foodmeter-container .meter-card {
  background-color: rgb(128, 128, 128, 40%);
  height: 22px;
  width: 80vw;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}

.foodmeter-container img {
  width: 18px;
  margin-left: 10px;
}

.meter-card .meter{
  background-color: red;
  height: 22px;
  width: 30vw;
  border-radius: 20px;
  text-align: center;
  color:  rgb(128, 128, 128, 40%);
  transition: all 0.5s ease-in-out;
}

.meter-card p {
  color: rgb(255, 255, 255, 80%);
  font-weight: 600;
  padding: 2px;
}

p{
  color:  rgb(128, 128, 128, 80%);
  margin: 0px 20px;
}

.popup-card{
  width: 80vw;
  position: absolute;
  right: 0;
  background-color: white;
  padding: 10px;
  border: 1px solid rgb(128, 128, 128, 40%);
  border-radius: 20px;
  z-index: +1;
}

.popup-card .popup{
  width: 92%;
  margin: auto;
  color: grey;
}

.popup-card .popup h4, 
.popup span{
  color: green;
}

.popup .heading{
  display: flex;
  justify-content: space-between;
}

.popup .heading h3{
  color: white;
  text-align: center;
  border-radius: 50%;
  width: 25px;
  background-color: rgb(255, 0, 0, 80%);
}

.popup .slot-icons p{
  text-align: left;
  margin: 0;
  font-size: 0.7rem;
}

.popup .slot-icons img{
  width: 20px;
}

/* Food Meter menu */

/* Main Menu */


.mainmenu-container .menu-card{
  border: 3px solid rgb(128, 128, 128, 30%);
  height: fit-content;
  width: 96vw;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 10px;
}

.menu-card .menu-categories {
  margin-bottom: 10px;
  overflow-y: scroll;
}

.menu-card .menu-categories ul{
  display: flex;
  list-style: none;
  padding: 0; 
  width: 90vw;
  margin: 10px auto;
  
}

.menu-categories ul li{
  background-color: rgb(128, 128, 128, 70%);
  border-radius: 20px;
  font-size: small;
  margin-left: 3px;
}

.menu-categories ul li p{
  padding: 5px 0px;
  color: white;
}

.menu-card .menu-items{
  height: 75vh ;
  overflow-x: scroll;
  scroll-behavior: smooth;
  z-index: 1;
}

.menu-card .menu-items::-webkit-scrollbar{
  display: none;
}


.orders-card  tr th{
  text-align: center;
}

.orders-card tr td {
  padding: 2px;
  text-align: center;
}

.menu-card .menu,
.orders-card .menu{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 90vw;
  border: 1px solid rgb(128, 128, 128, 40%);
  margin: auto;
  padding: 6px 10px;
}

.menu-card .menu .food {
  display: flex;
  max-width: 60vw;
  max-height: 11vh;
  overflow: hidden;
}

.menu .food .food-description{
  margin-left: 10px;
}

.food .food-description h5{
  margin: 0px 0px ;
  color: rgb(0, 0, 0, 70%);
}

.food .food-description small{
  color: rgb(128, 128, 128, 80%)
}

.menu-card .menu img {
  width: 25%;
  border-radius: 10px;
}

.menu .food-description .description{
  color: black;
  font-size: 0.6rem;
  font-weight: 500;
}

.menu-card .menu .btns{
  display: flex;
  justify-content: space-between;
  max-width: 30vw;
}

.menu .btns button,
.menu .btns small{
  margin: 10px;
}

.menu h6{
  display: block;
  margin: 0;
  color: red;
}

.wheel-card {
  background-color: rgb(144, 238, 144, 20%);;
  position: relative;
}


.wheel-card .special{
  background-color: rgb(144, 238, 144, 20%);
  position: absolute;
  color: white;
  padding: 0px 5px;
  margin: 0;
  bottom: 0;
  right: 10px;
  height: 20px;
  display: flex;
  align-items: center;
}

.wheel-card h6{
  background-color: rgb(0, 128, 0, 70%);
  font-size: 0.4rem;
  padding: 2px 3px;
  border-radius: 10px;
}
.wheel-card .badge{
  width: 18px;
  height: 18px;
}

/* Main Menu */

/* OrderCheckout page */
.menu .order-description{
  display: flex;
  justify-content: space-around;
  width: 90vw;
  margin: 5px;
}

.menu .order-description p{
  width: 50%;
  color: #000;
}

.menu .order-description p small {
  font-size: 0.7rem;
  font-weight: 500;
  color: black;
  background-color: orange;
  padding: 1px;
  border-radius: 3px;
  display: inline-block;
  margin-left: 2px;
}


.orderbutton{
  display: flex;
  justify-content: center;
}

.orderbutton .placeorder{
  background-color: orange;
  border: 1px solid black;
  color: black;
  width: 200px;
  margin-top: 5px;
  font-size: 0.8rem;
}

.orderbutton .spices{
  border-radius: 10px;
  background-color: rgb(255, 228, 196, 80%);
  width: 95vw;
  margin-top: 5px;
  padding: 5px;
  box-sizing: border-box;
}

.orderbutton .spices ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 5px;
}

.orderbutton p{
  font-weight: 500;
  font-size: 0.9rem;
}




/* OrderCheckout page */


/*Slot Machine ---------------*/

.slotMachine-container{
  width: 80vw;
  height: 80px;
  background-color: rgb(255, 215, 0);
  border-radius: 30px;
  position: relative;
  margin: auto;
  margin-top: 5px;
}
.slot{ 
  height: 95px;
  position: relative;
}

.slot p{
  text-align: center;
  font-size: 0.9rem;
  color: rgb(128, 0, 128, 80%); 
  font-weight: 500;
}

.slot-decription{
  position: absolute;
  bottom: 0;
  right: 20px;
  width: 20px;
}


.slotMachine-container .slotMachine-card{
  width: 80%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}


.slotMachine-row{
  background-color: rgb(0, 0, 0, 40%);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70%;
  width: 20%;
  border-radius: 20px ;
  overflow: hidden;
  transition: all 1s ease;
}

.slotMachine-bar{
  width: 85vw;
  height: 5vh;
  border-radius: 30px;
  background-color: rgb(0, 0, 0, 70%);
  color: white;
  position: absolute;
  top: 33%;
  left: -3%;
  z-index: -1;
}


.slotMachine-card .slotMachine-row .notrolling{
  width: 85%;
  transition: all 0.2s ease;
}


.slotMachine-card .slotMachine-row .rolling {
  filter: blur(3px);
  color: rgba(255, 255, 255, 0.2);
  top: 12px;
  animation: mov 0.12s infinite;
}

@keyframes mov {
  0% {
    transform: translatey(-30px);
    opacity: 0;
  }
  50% {
    transform: translatey(-15px);
    opacity: 1;
  }
  100% {
    transform: translatey(25px);
    opacity: 0;
  }
}

/* Games - Slot Machine  */

/* Footer */

.App .footermenu-container .footer-buttons {
  display: flex;
  justify-content: space-around;
  height: 58px;
  width: 96vw;
  margin: auto;
  text-align: center;
  margin-top: 5px;
}

/* rgb(245, 222, 179, 90%) ----- color for premium */
.footermenu-container .footer-buttons .btn{
  background-color: rgb(128, 0, 128, 20%);
  width: 32%;
  border-radius: 10px;
  height: fit-content;
}

.footermenu-container .footer-buttons .btn small{
  display: block;
  background-color: white;
  border-bottom: 1px solid rgb(128, 0, 128, 30%);
  width: 100%;
  margin: 0;
  font-weight: 500;
  color: rgb(0, 0, 0, 60%);
}

.footer-buttons .btn img{
  height: 35px;
}
/* Footer */

/* Admin Login */

.boarding-container{
  background-color: rgb(251, 4, 19, 80%);
  border: none;
  color: white;
  height: 100vh;
}

.boarding-container .boarding-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.boarding-container .boarding-form a{
  background-color: orange;
  padding: 10px 15px;
  border-radius: 10px;
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
}

.boarding-form .heading p{
  color: aliceblue;
  margin: auto;
  font-size: x-large;
}

.heading h1,
.heading p{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.boarding-container form{
  display: flex;
  flex-direction: column;
  height: 40%;
  justify-content: space-around;
  margin-bottom: 10px;
}

.boarding-container .register-form{
  height: 55%;
}
.boarding-container form p{
  color: aliceblue;
  font-weight: 500;
}

.boarding-container a{
  color: rgb(0, 0, 255, 80%);
  font-weight: 600;

}
/* Admin Login */


/* Admin DashBoard */
.dashboard-container .tables-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.tables-container .table{
  border: 1px solid black;
  border-radius: 10px;
  width: 70px;
  padding: 5px 0px;
  margin: 5px;
  text-align: center;
}

.orders-container{
  /* width: 75vw; */
  height: fit-content;
  min-height: 80vh;
  margin: 20px 15px;
}

.orders-container h2{
  background-color: rgb(138, 43, 226, 80%);
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
}

.orders-container table{
  width: 80vw;
  height: fit-content;
  text-align: left;
  margin: auto;
}

table thead{
  background-color: rgb(255, 0, 0, 70%);
}

table thead tr th{
  padding: 10px;
}

table tbody tr {
  padding: 4px;
  background-color: rgb(128, 128, 128, 20%);
  font-size: large;
}

table tbody .order-done{
  display: none;
}

/* Admin DashBoard */

/* Admin menu - add/edit menu */
.manage-menu-container{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.manage-menu-container p{
  margin: 0;
}

.manage-menu-container .message{
  background-color: darksalmon;
  padding: 5px;
  width: 80%;
  color: white;
  font-weight: 500;
  border-radius: 10px;
  margin-bottom: 10px;
}

.manage-menu-container ul{
  list-style: none;
  display: flex;
  border-bottom: 3px solid black;
  margin: 0;
  padding: 0;
}

.manage-menu-container ul li{
  background-color: rgb(128, 128, 128, 30%);
  margin: 5px;
  padding: 5px 10px;
  border-radius: 20px;
  transition:  all 0.1s ease-in-out;
}

.manage-menu-container ul li:hover{
  background-color: royalblue;
  color: white;
}

.App .addmenu-card{
  height: 92vh;
  display: flex;
  justify-content: space-around;
  margin: 0;
}

.addmenu-card form{
  width: 25vw;
  display: flex;
  flex-direction: column;
}

.addmenu-card form input{
  border: 1px solid gray;
  border-radius: 0;
}

.addmenu-card form .foodimage{
  border: none;
}

.addmenu-card form small,
.addmenu-card form label{
  font-size: 0.8rem;
  color: gray;
  margin-top: 5px;
  margin-bottom: 0;
}

.addmenu-card form .fieldset-choices{
  display: flex;
  flex-wrap: wrap;
}

.addmenu-card form fieldset{
  border: none;
}
.addmenu-card form h2{
  text-align: center;
  font-size: x-large;
  color: rgb(0, 0, 0, 60%);
}

.addmenu-card form .textarea-label{
  margin-top: 10px ;
  margin-bottom: 2px ;
}

.addmenu-card form textarea{
  border: 1px solid gray;
  padding: 8px;
  border-radius: 10px;
}

.addmenu-card .btns{
  display: flex;
  justify-content: space-around;
}

.addmenu-card form .save{
  background-color: royalblue;
  color: white;
  width: 30vw;
  margin-top: 10px;
}

.addmenu-card .publish{
  background-color: orange;
  color: white;
  width: 100px;
  margin: 10px auto 0px 0px;
}

.addmenu-card .delete{
  background-color: red;
  color: white;
  width: 100px;
  margin: 10px auto 0px 0px;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.option-group-container{
  width: 35vw;
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.option-group-container .option-group-card{
  border: 1px solid black;
  padding: 15px;
  /* border-radius: 10px; */
}

.option-group-card h3,
.option-group-card label{
  text-align: center;
  color: gray;
}

.option-group-card .option-items{
  display: flex;
  justify-content: space-around;
}

.option-group-card input{
  border: 1px solid rgb(0, 0, 0, 50%);
  width: 80%;
  margin: 5px;
  border-radius: 0;
}

.option-group-card .btns{
  display: flex;
  width: 70%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.option-group-card .save{
  background-color: orange;
  margin: 5px;
}

.option-group-card .post{
  background-color: green;
  color: white;
  margin: 5px;
}


/* Admin menu - add/edit menu */

/* Admin Manage Account */

.manageaccount-container{
  width: 50vw;
  display: flex;
  text-align: center;
}

.manageaccount-container .manage-card{
  border: 1px solid transparent;
  border-radius: 10px;
  width: 100px;
  padding: 40px;
  margin: 25px;
  background-color: rgb(124, 252, 0, 80%);
}

.manageaccount-container .manage-card a{
  text-decoration: none;
  font-weight: 700;
  color: rgb(0, 0, 0, 80%);
}

/* Admin Manage Account */



.slider-container{
  width: 80%;
}

.spiceLevel{
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 20px;
}


/* VNavigation */
.vnavigation-container{
  height: 100vh;
  padding: 5px 0px 5px 0px ;
  display: flex;
  justify-content: center;
  margin-top:20px;
}

.vnavigation-card{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: fit-content;
  margin: 0px 20px;
}

.vnavigation-card a{
  color: gray;
  font-weight: 600;
  font-size: medium;
  text-decoration: none;
  width: 80px;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  border-radius: 20px;
  border: 2px solid orange;
  margin-top: 10px;
  transition: background-color 0.3s ease-in-out;
}

.vnavigation-card a:hover{
  background-color: orange;
  color: white;
}

/* VNavigation */


/* Manage Menu */

.managemenu-container{
  width: fit-content;
  height: fit-content;
  margin-left: 10px;
  padding: 5px;
}

.managemenu-container .heading{
  margin-bottom: 10px;
}

.managemenu-container h2{
  opacity: 0.9;
}

.managemenu-container .category-options{
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.category-options button{
  background-color: crimson;
  color: white;
  font-size: larger;
  padding: 5px 10px;
  border-radius: 5px;
} 

.managemenu-container .category-options ul{
  display: flex;
  justify-content: space-between;
  width: 35vw;
  list-style: none;
  margin: 0;
  padding: 0;
}

.category-options ul li{
  font-size: large;
  opacity: 0.6;
  font-weight: 600;
}

.managemenu-container .menu-table table{
  width: 50vw;
  text-align: center;
  border-radius: 10px;
}

.menu-table table tbody tr td{
  font-size: 0.9rem;
}

.managemenu-container .menu-table table img{
  width: 60px;
  height: 60px;
  border-radius: 10px;
} 
/* Manage Menu */


.box{
  width: 20px;
  height: 20px;
  margin: 5px;
  background-color: black;
}

.box-style{
  background-color: lightgreen;
  height: 12vh;
}

#change{
  transition: all 0.2s ease;
}



/* Slider section */ 

.cardslider-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  margin: 5px auto;
}

.direction-guide {
  opacity: 0.6;
  text-align: center;
}
.direction-guide .right-side{
  transform: rotateY(180deg);
}
.swiper-container{
  width: 95vw;
  height: fit-content;
  margin: auto;
  border-radius: 20px;
  text-align: center;
}

.swiper-container h4{
  margin: 0;
  text-align: center;
  color: gray;
  font-size: 1.5rem;
  color: royalblue;
  font-family: Verdana, Tahoma, sans-serif;
  overflow: hidden;
}

.swiper-container h4 span{
  color: green;
}

.card-container {
  height: 175px;
  display: flex;
  justify-content: center;
  margin: 6px 0px;
}
.swipe {
  position: absolute;
}

.card {
  background-color: gold;
  width: 180px;
  height: 175px;
  border-radius: 30px;
  background-size: cover;
  background-position: center;
  margin: auto;
}

.card .item-description{
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 20px;
  text-align: center;
  background-color: white;
  margin: auto  ;
}

.card .item-description h3{
  margin: 0;
  font-size: 0.8rem;
}
.card .item-description h3 span{
  color: green;
  text-transform: uppercase;
}

.card .item-description .price-description{
  display: flex;
  align-items: flex-end;
}

.card .item-description small{
  font-size: 0.8rem;
}

.card .item-description p{
  text-decoration: line-through;
  font-size: large;
  color: red;
}

.coupon-container{
  background-color: lightgreen;
  padding: 10px;
  width: 90vw;
  border-radius: 20px;
  margin: auto;
}

.coupon-container p{
  font-size: 1.1rem;
  font-weight: 600;
  color: royalblue;
  margin: 5px;
}

.coupon-container small{
  margin: 5px;
  text-align: center;
  font-size: 1rem;
  color: gray;
  font-weight: 600;
}
.coupon-container input{
  width: 60%;
}
.coupon-container button{
  margin-left: 5px;
  background-color: orange;
}
/* Slider section */ 

/* GetQR section */

.getqr-container .getqr-card{
  margin-top: 20px;
}

.getmoreqr-input{
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
}

.getqr-container .getqr-card h3, 
.getqr-container .getqr-card h4{
  text-align: center;
}

.getqr-card h4 span{
  font-size: large;
  color: brown;
  text-decoration: underline;
}

.getmoreqr-input button{
  background-color: orange;
  width: 150px;
  margin: 10px auto;
}

.getmoreqr-input input{
  border: 1px solid gray;
}

.premiumaccount-notice{
  background-color: rgb(255, 0, 0, 70%);
  color: white;
  padding: 8px 10px;
  border-radius: 10px;
  margin: 10px;
}

.premiumaccount{
  display: flex;
}

.premiumaccount  .premiumaccount-notice span{
  font-weight: 700;
}

.qr-list{
  display: flex;
  flex-wrap: wrap;
}

.qr-list .qr-card{
  padding: 10px;
  background-color: rgb(250, 234, 214, 70%);
  margin: 5px;
  text-align: center;
}

/* GetQR section */

/* myMenu-msg section */

.myMenu-msg-container p{
  background-color: lightgreen;
  padding: 20px 10px;
  border-radius: 10px;
  position: relative;
}

.myMenu-msg-container p small{
  position: absolute;
  top: -5px;
  left: -5px;
  background-color: rgb(255, 0, 0, 100%);
  color: white;
  padding: 2px 10px;
  border-radius: 20px;
}


/* myMenu-msg section */

/* Payment Page Compnent */

.elements{
  height: 200px;
  min-width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
}

.elements h2{
  color:royalblue ;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.elements small{
  color: rgb(128, 128, 128, 80%);
  text-align: center;
}
.elements button{
  background-color: royalblue;
  color: white;
  width: 20vw;
  margin-top: 5px;
  border-radius: 10px;
  margin: auto;
}

.FormGroup{
  border: 10px solid rgb(128, 128, 128, 20%);
  margin-top: 20px;
  border-radius: 5px;
}

Element{
  display: block;
  border: 1px solid black;
}

/* Payment Page Compnent */

/* Receipt */

.input-form {
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.input-form input{
  border: 1px solid gray;
  margin-left: 10px;
}

.billing {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.billing p{
  margin: 0;
}

.billing button{
  background-color: red;
  color: white;
  border: none;
  width: 150px;
  margin-top: 10px;
}

.billing h4{
  margin-bottom: 5px;
}

/* Receipt */


.makeyourmeal-card{
  border: 2px solid rgb(128, 128, 128, 40%);
  border-radius: 10px;
  width: 90vw;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5px;
}

.addon-container{
  width: 100vw;
  background-color: whitesmoke;
  height: auto;
  position: absolute;
  top: 20%;
  right: 0;
  margin: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 100px;
  transition: all 1s ease-in-out;
  font-size: 0.8rem;
}

.addon-container .addon-card{
  height: auto;
}

.addon-container .addon-card h4{
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 0;
  color: rgb(0, 0, 0, 80%);
}

.addon-card fieldset{
  border-radius: 2px;
  border: 1px solid transparent;
  padding: 8px;
  margin: 5px 10px;
  background-color: rgb(255, 215, 0, 60%);
  display: flex;
}
.options-section-card{
  width: 90%;
  margin: auto;
}

.options-section-card h3{
  color: gray;
  margin-bottom: 5px;
}

.addon-container .btn{
  display: flex;
  justify-content: space-around;
  margin: 15px 0px 35px 0px;
}

.addon-container .btn button{
  width: 40%;
}

.addon-container .btn .save{
  background-color: rgb(0, 128, 0, 90%);
  color: white;
}

.addon-container .btn .cancel{
  background-color: orange;
}


/* HomePage */

/* HomePage NavBar */

.HomePageNavBar{
  background-color: red;
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  width: 90vw;
  margin: 10px auto;
  border-radius: 10px;
}

.HomePageNavBar .homepageNavBar-logo-card{
  display: flex;
  align-items: center;
  width: 40vw;
}

.HomePageNavBar .homepageNavBar-logo-card img{
  height: 50px;
  margin-right: 10px;
  transform: rotate(270deg);
}

.homepageNavBar-logo-card h3{
  font-size: x-large;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.HomePageNavBar .homepageNavBar-navitems-card ul{
  display: flex;
  list-style: none;
  width: 45vw;
  justify-content: space-around;
}

.homepageNavBar-navitems-card ul li{
  font-size: large;
  font-weight: 600;
  cursor: pointer;
}

.homepageNavBar-navitems-card ul .start-trial{
  background-color: white;
  color: black;
  padding: 5px 20px;
  border-radius: 10px;
  font-size: larger;
}

/* HomePage NavBar */

/* HomePageFirstBodySection */

.HomePageFirstBodySection{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90vw;
  height: 100vh;
  margin: auto;
  margin-top: 10vh;
  
  border-radius: 10px ;
  padding: 5px 20px;
}

/* rgba(117, 19, 93, 0.73) */
.HomePageFirstBodySection .intro-section{
  width: 60%;
  background-color:rgb(255, 255, 255, 0.6);
  border-radius: 10px;
}


.HomePageFirstBodySection .intro-card h1{
  font-size: 2.5rem;
  letter-spacing: 0.3rem;
  color: darkmagenta;
}

.HomePageFirstBodySection .intro-card h3{
  letter-spacing: 0.3rem;
  color:purple;
  margin: 0;
  font-size: x-large;
  background-color:rgb(144, 238, 144, 0.7);
  border-radius: 10px;
  width: fit-content;
  padding: 5px 10px;
}

.HomePageFirstBodySection .intro-section .intro-card p{
  color: black ;
  font-weight: 600;
  font-size: larger;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
  width: 60%;
  margin-bottom: 10px;
  padding: 5px;
}

.HomePageFirstBodySection .intro-card .start{
  background-color: darkorange;
  color: black;
  margin: 10px 10px;
  height: 50px;
}

.HomePageFirstBodySection .intro-card label{
  display: block;
  color: gray;
  font-weight: 500;
  font-size: medium;
  margin-bottom: 5px;
}

.HomePageFirstBodySection .intro-card .startwithfuture{
  background-color: royalblue;
  color: white;
  margin: 10px;
  height: 50px;
}

.HomePageFirstBodySection .GIFdemo-section{
  width: 40%;
  display: flex;
  justify-content: center;
  background-image:  url('./icons/together2.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0px;
  background-position-x: left;
}

.HomePageFirstBodySection .GIFdemo-card img{
  border-radius: 20px;
  width: 250px;
}


/* HomePageFirstBodySection */


/* HomePageMidSection */

.HomePageMidBodySection{
  width: 90vw;
  margin: auto;
}
.HomePageMidBodySection h2{
  text-align: center;
  color: royalblue;
  letter-spacing: 0.2rem;
  font-size: xx-large;
}

.HomePageMidBodySection .services-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.HomePageMidBodySection .services-section .services-card{
  width: 30%;
  padding: 20px;
  border: 1px solid orange;
  border-radius: 10px;
  margin: 10px;
}

.services-section .services-card .start{
  background-color: darkorange;
  color: white;
  margin: 10px 10px;
}

/* HomePageMidSection */

/* HomePageMessageSection */

.HomePageMessage {
  position: absolute;
  top: 12%;
  left: 0;
  right: 0;
  margin: 20px auto;
  width: 90vw;
  text-align: center;
  background-color: yellowgreen;
  padding: 0;
  color: white;
  border-radius: 10px;
}

.HomePageMessage .message h6{
  margin: 5px 10px;
}

/* HomePageMessageSection */

/* HomePageInfoSection */
.HomePageInfoSection{
  background-color: rgb(135, 206, 235, 40%);
  border-radius: 20px;
  width: 80vw;
  text-align: center;
  margin: auto;
  padding: 20px;
  margin-top: 10px;
}

.HomePageInfoSection .heading h4{
  color: purple;
  letter-spacing: 0.1rem;
}

.HomePageInfoSection .info-body img{
  width: 60%;
  border-radius: 20%;
}

.HomePageInfoSection .info-body ul{
  list-style: none;
  text-align: left;
}

.HomePageInfoSection .info-body ul li{
  margin: 5px;
}

.HomePageInfoSection .info-body ul li span{
  margin-right: 5px;
  font-weight: 700;
  color: purple;
}

.HomePageInfoSection .start{
  background-color: red;
  color: white;
}

.more-info h3{
  text-align: center;
}

.more-info .information-card-section{
  display: flex;
  align-items: center;
  justify-content: center;
}

.more-info .information-card{
  border: 2px solid orange;
  width: 350px;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}

.more-info .information-card img{
  width: 100%;
  max-height: 200px;
}

.more-info .information-card h3{
  text-align: left;
  margin: 0;
}

.more-info .information-card small{
  color: gray;
  font-size: 0.6rem;
}

.more-info .information-card p{
  margin-top: 10px;
  margin: 10px 0px;
}

.more-info .information-card a{
  text-decoration: none;
}


/* HomePageInfoSection */

/* CopyRight Footer */
.footer{
  background-color: gray;
  width: 100vw;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 0;
  z-index: -1;
}


.footer small{
  color: white;
  font-weight: 500;
}


/* CopyRight Footer */


/* Dice */

.dice-menu-items{
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: gold; */
  padding: 5px;
  width: 80%;
  height: 12vh;
  margin: auto;
  /* border-radius: 40%; */
  position: relative;
  margin-top: 0px;
  /* border-bottom: 2px solid rgb(128, 128, 128, 50%); */
}

.dice-menu-items p{
  position: absolute;
  top: 0;
  left: 0;
  color: gray;
  font-weight: 600;
  margin: 0px;
  padding: 1px 5px;
  font-size: small;
  background-color: white;
  border-bottom-right-radius: 10px;
}

.dice-menu-items small{
  position: absolute;
  bottom: 0px;
  right: 0;
  color: black;
  font-weight: 500;
  margin: 0;
  padding: 1px 5px;
  font-size: small;
  background-color: white;
  border-top-left-radius: 10px;
}

.cube .front{
  transform: translateZ(25px);
}

.cube .back{
  transform: rotateX(-180deg) translateZ(25px);
}

.cube .right{
  transform: rotateY(90deg) translateZ(25px);
}

.cube .left{
  transform: rotateY(-90deg) translateZ(25px);
}

.cube .top{
  transform: rotateX(90deg) translateZ(25px);
}

.cube .bottom{
  transform: rotateX(-90deg) translateZ(25px);
}

.dice-container{
  width: 20%;
  height: 55px;
  position: relative;
  margin: 0 0px;
}

.cube{
  width: 20px;
  height: fit-content;
  top: 10%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 4s;
  transform-origin: center;
}

.cube:hover{
  cursor: pointer;
  transform: rotateX(900deg) rotateY(2700deg) rotateZ(180deg);
}

.cube div{
  background-color: gold;
  display: block;
  position: absolute;
  top: 0;
  left: auto;
  width: 50px;
  height: 50px;
  border: 2px solid royalblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 500%;
  text-align: center;
  border-radius: 10px;
}

.dot{
  display: block;
  position: absolute;
  width: 7.5px;
  height: 7.5px;
  background: blue;
  border-radius: 15px;
}

.front .dot1{
  top: 21.25px;
  left: 21.25px;
}

.back .dot1{
  top: 11.25px;
  left: 11.25px;
}

.back .dot2{
  top: 31.25px;
  left: 31.25px;
}

.right .dot1{
  top: 11.25px;
  left: 11.25px;
}

.right .dot2{
  top: 21.25px;
  left: 21.25px;
}

.right .dot3{
  top: 31.25px;
  left: 31.25px;
}

.left .dot1{
  top: 11.25px;
  left: 11.25px;
}

.left .dot2{
  top: 11.25px;
  left: 31.25px;
}

.left .dot3{
  top: 31.25px;
  left: 11.25px;
}

.left .dot4{
  top: 31.25px;
  left: 31.25px;
}
.top .dot1{
  top: 11.25px;
  left: 11.25px;
}

.top .dot2{
  top: 11.25px;
  left: 31.25px;
}

.top .dot3{
  top: 21.25px;
  left: 21.25px;
}

.top .dot4{
  top: 31.25px;
  left: 11.25px;
}

.top .dot5{
  top: 31.25px;
  left: 31.25px;
}

.bottom .dot1{
  top: 11.25px;
  left: 11.25px;
}

.bottom .dot2{
  top: 11.25px;
  left: 21.25px;
}

.bottom .dot3{
  top: 11.25px;
  left: 31.25px;
}

.bottom .dot4{
  top: 31.25px;
  left: 11.25px;
}

.bottom .dot5{
  top: 31.25px;
  left: 21.25px;
}

.bottom .dot6{
  top: 31.25px;
  left: 31.25px;
}

/* Dice */



.adminHomePageBody-section{
  display: flex;
}

.adminHomePageBody-section .editmenu-message{
  margin: auto;
  padding: 10px ;

}

.adminHomePageBody-section hr{
  margin: 0;
  color: rgb(128, 128, 128, 30%);
  border: 1px solid rgb(128, 128, 128, 30%);
}

/* Error Page section */
.error{
  background-color: rgb(255, 0, 0, 60%);
  color: black;
  text-align: center;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error .instructions{
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}


.error .instructions h4{
  margin-bottom: 20px;
  font-size: x-large;
}

.error .instructions a{
  cursor: pointer;
  font-size: larger;
  font-weight: 500;
  text-decoration: none;
  color: purple;
}

.error p,
.error small{
  color: white;
  margin: 10px;
  width: 40vw;
}



/* Error Page section */

/* Settings Page section */
.settings-container{
  margin: 20px 10px;
}

.settings-container p{
  font-size: larger;
  margin-left: 0;
  margin-bottom: 10px;
}

.settings-container .games{
  margin: 10px;
  background-color: rgb(128, 128, 128, 30%);
  padding: 10px 5px;
}

.settings-container .games label{
  font-size: medium;
  margin-left: 10px;
}

/* Settings Page section */

